@import "../../styling/utilities/utilities";

.carousel-container {
  @include flexContainer(column);
  min-height: 250px;
  flex: 1 1 auto;
  color: $primary-clr;

  .slider {
    @include flexContainer(column);
    position: relative;
    flex: 1 1 auto;

    .rightArrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 32px;
      font-size: 45px;
      z-index: 1;
      cursor: pointer;
    }

    .leftArrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 32px;
      font-size: 45px;
      z-index: 1;
      cursor: pointer;
    }

    .slide {
      @include flexContainer(column, flex-end);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      flex: 1 1 auto;
      overflow: hidden;
      transition: all 0.5s ease;

      .overlay {
        @include flexContainer(column);
        background-color: rgba(0, 0, 0, 0.5);

        h1 {
          margin: 0;
          line-height: 1rem;
          align-self: center;
          padding: 1rem;
        }

        p {
          display: flex;
          align-self: center;
          margin: 1rem;
        }

        .dotsContainer {
          display: flex;
          justify-content: center;

          .dot {
            margin: 0 3px;
            cursor: pointer;
            font-size: 20px;
          }

          #active {
            color: $active-clr;
          }
        }
      }
    }
  }
}
