@import "../styling/utilities/utilities";

app-navigation {
  margin-bottom: 1rem;
}

app-carousel {
  display: flex;
  flex: 1 1 auto;
}

app-jumbotron {
  padding-bottom: 1rem;
}

.main-container {
  @include flexContainer(column);
  .head-view {
    height: 100vh;
    @include flexContainer(column);
  }
}
