@import "../../styling/utilities/utilities";
.navigation-container {
  @include flexContainer(row, space-between, center, wrap);

  ul {
    @include flexContainer(row, flex-start, center);
    flex: 1;
    gap: 1rem;
    button {
      @extend %btn;
      @include btn-style("text", "info");
    }
  }

  .searchbar {
    @include flexContainer(row, flex-end);
    flex: 1;
    gap: 1rem;
    input {
      font-weight: 500;
      font-size: 0.875rem;
      padding: 5px 6px;
    }
    button {
      @extend %btn;
      @include btn-style("outlined", "info");
    }
  }
}
